= provide(:title, "Contact")

.container
  %h1 Contact
  %p
    Wil je contact opnemen? Dan kan dat via de telefoon 013-5811684 of via onze e-mail:
    = succeed "." do
      %a{href: "mailto:info@horecatilburg.nl"} info@horecatilburg.nl

  %h2 Adres
  %p
    Recreatiebad Stappegoor
    %br
    Stappegoorweg 1
    %br
    5022 DA Tilburg
    %br
    013-5811684
    %br
    %a{href: "mailto:info@horecatilburg.nl"} info@horecatilburg.nl