.jumbotron.center
  .banner-container
    .banner
      %h1 Horeca Recreatiebad Stappegoor
      %h2 Zin in een leuke dag uit? Kom gezellig eten en zwemmen bij Stappegoor!

%section.main-contents.white-text
  .container
    .row
      .col-sm-6
        %h3 Kinderfeesten
        %p
          Wil je een leuk feestje in het zwembad regelen voor veel kinderen? 
          Dan kan dat voordelig met onze speciale kinderfeest pakketten vanaf 5 kinderen.
        %a.solid-link{href: kinderfeesten_url}
          Meer informatie
          %span.glyphicon.glyphicon-chevron-right
      .col-sm-6
        %h3 Contact
        %p 
          Wil je weten waar je ons zwembad kan vinden of heb je vragen?
          Je kan contact met ons op te nemen door te bellen of te mailen.
        %a.solid-link{href: contact_url}
          Meer informatie
          %span.glyphicon.glyphicon-chevron-right
      -# .col-sm-4
      -#   %h3 Groepskortingen
      -#   %p
      -#     Bespaar een hoop geld door samen te gaan. Er zijn speciale kortingen voor groepen van 10 of meer personen.
      -#   %a.solid-link{href: '#'}
      -#     Meer informatie
      -#     %span.glyphicon.glyphicon-chevron-right
      -# .col-sm-4
      -#   %h3 Menu
      -#   %p
      -#     Zin in frikandellen, tosti's of toch liever baguettes en salades? Er valt veel te kiezen met eten en drinken bij onze cafétaria.
      -#   %a.solid-link{href: '#'}
      -#     Meer informatie
      -#     %span.glyphicon.glyphicon-chevron-right

%section.extra-information
  .container
    .row
      .col-sm-6
        %h3 Welkom
        Welkom bij de website van Horeca Recreatiebad Stappegoor. 
        Op deze website kan je contact met ons opnemen of een kinderfeestje boeken bij Stappegoor.
      
        %h4 Stappegoor
        Stappegoor is een grote recreatiebad met drie binnenzwembaden en één buitenbad.
        Er zijn veel zwemactiviteiten, van snel roetsjen van de wildwaterbaan tot meegesleurd worden in de stromingen.
        Daarnaast kan je baantjes zwemmen, genieten van de vele wellnessvoorzieningen of kan je na een plons buiten lekker op het grasveld gaan liggen.

        %h4 Cafétaria
        Zin in een hapje tussendoor? 
        Er valt veel te kiezen met eten en drinken bij onze cafétaria.
        Van een frietje met een broodje frikandel tot tosti's, pistoletjes of salades.
        Wat je ook kiest, als je op ons terras zit dan is er gratis WiFi waar je gebruik van kan maken.


      .col-sm-6.half-width-image
        =image_tag "happy-swimming-small.jpg", alt:"Lekker zwemmen in Stappegoor."