.center.jumbotron
  %h1 Welkom op de horeca website van Stappegoor.
  %h2
    Hier vind je alle informatie over het boeken van feesten op zwembad Stappegoor.
  = link_to "Meer informatie", '#', class: "btn btn-lg btn-primary"

= link_to image_tag("rails.png", alt: "Rails logo"), 'http://horecatilburg.nl'