.jumbotron.center
  .extra-gradient
    .container
      %h1 Welkom op de horeca website van Stappegoor.
      %h2
        Hier vind je alle informatie over het boeken van feesten op zwembad Stappegoor.

%section.main-contents.white-text
  .container
    .row
      .col-sm-4
        %h3 Kinderfeesten
        %p
          Wil je een leuk feestje in het zwembad regelen voor veel kinderen? Dan kan dat voordelig met onze speciale kinderfeest pakketten.
        = link_to "Meer Informatie",  kinderfeesten_url, class: "open-button"
      .col-sm-4
        %h3 Groepskortingen
        %p
          Bespaar een hoop geld door samen te gaan. Er zijn speciale kortingen voor groepen van 10 of meer personen.
        = link_to "Meer Informatie",  '#', class: "open-button"
      .col-sm-4
        %h3 Lunches
        %p
          Gezellig samen een lunch hebben kan met een op maakt gemaakte lunch arrangement.
        = link_to "Meer Informatie",  '#', class: "open-button"

/ Todo: add page-jump / scrolling to here
%section.extra-information
  .container
    .row
      .col-sm-6
        Stappegoor is een gezellige zwembed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus blandit felis, vitae luctus nisi porttitor sit amet. Praesent et lacus mi. Morbi id risus felis. Donec arcu felis, euismod vitae pretium ut, pretium a nisl. Morbi ornare efficitur justo nec lacinia. Maecenas iaculis commodo risus, a fermentum dui vulputate vel. Nullam sit amet nisl eget justo tempor imperdiet. Cras tortor justo, mollis id lacus vitae, condimentum ornare nisi.

        Nam in mi elit. Etiam ac egestas dui. Proin dignissim rutrum eros, efficitur bibendum libero. Pellentesque fringilla malesuada mattis. Vestibulum vitae nulla a magna vehicula feugiat non convallis eros. Sed efficitur, tortor sed hendrerit tempor, diam mi aliquet enim, luctus posuere dolor libero quis lectus. In cursus diam orci. Donec condimentum nisl sit amet nibh gravida, vel molestie ipsum finibus. Nunc nec dui ut metus sollicitudin tempor. Integer non quam in dolor aliquam convallis in a turpis. Morbi gravida, diam ut iaculis egestas, leo ante venenatis massa, nec consequat metus dui ut felis.

      .col-sm-6
        Plaatje