%section.container
  .temp-title
    %h1 Binnenkort komt er een gloednieuwe website!
  .row
    .col-sm-10
      %p Wij zijn nu hard bezig met het verbouwen van de website.
      %p
        Terwijl wij bezig zijn, is deze site niet te gebruiken.
        In de tussentijd zetten wij hier alvast wat handige informatie op voor Recreatiebad Stappegoor.
    .col-sm-2
      %img{src: "https://upload.wikimedia.org/wikipedia/commons/c/c7/UnderConstruction.svg", alt: "Under Construction"}

  %h2 Kinderfeestje
  %p
    Wil je een kinderfeestje boeken? Druk dan op de knop hieronder om het formulier te downloaden.
    Stuur dit formulier op naar
    = succeed "." do
      %a{href: "mailto:info@horecatilburg.nl"} info@horecatilburg.nl

  %button.btn.btn-primary.btn-lg{type: "button"} Download

  %p
    Daarna wordt er contact met je opgenomen.
    Ook kan je via de telefoon boeken: 013-5811684.

  %h2 Contact
  .contact-info-temp
    Recreatiebad Stappegoor
    %br
    Stappegoorweg 1
    %br
    5022 DA Tilburg
    %br
    013-5811684
    %br
    %a{href: "mailto:info@horecatilburg.nl"} info@horecatilburg.nl