= provide(:title, "Kinderfeesten")

.container
  .top-header
    %h1 Kinderfeesten


%section.container
  .row.kinderfeest-select
    .col-sm-4
      .inner
        %h3 Standaard Zwemfeestje
        %h4.subtitle &euro; 9,95 p.p.

        %ul.items
          %li
            %i.fa.fa-check
            Entree Zwembad
          %li
            %i.fa.fa-check
            Frietjes met saus
          %li
            %i.fa.fa-check
            Snack
            %i.fa.fa-info-circle.info-snack
          %li
            %i.fa.fa-check
            Drankje
            %i.fa.fa-info-circle.info-drink
          %li
            %i.fa.fa-check
            IJsje
          %li
            %i.fa.fa-check
            Jarige: snoepzak

        .checkbox
          %input#checkbox-pie{type: "checkbox"}
          %label{for: 'checkbox-pie'}
            Goedkopere taart arrangement.
            %i.fa.fa-info-circle

        .radio.radio-center
          %input#radio-standard{type: "radio", name: "kinderfeest-type", value: 1}
          %label{for: 'radio-standard'}

    .col-sm-4
      .inner
        %h3 Luxe Zwemfeestje
        %h4.subtitle &euro; 12,75 p.p.

        %ul.items
          %li
            %i.fa.fa-check
            Entree Zwembad
          %li
            %i.fa.fa-check
            Frietjes met saus
          %li
            %i.fa.fa-check
            Snack
            %i.fa.fa-info-circle.info-snack
          %li
            %i.fa.fa-check
            Drankje
            %i.fa.fa-info-circle.info-drink
          %li
            %i.fa.fa-check
            IJsje
          %li
            %i.fa.fa-check
            Jarige: snoepzak
          %li.special
            %i.fa.fa-check
            Slagroomtaart
          %li.special
            %i.fa.fa-check
            Extra drankje

        .checkbox
        .radio.radio-center
          %input#radio-lux{type: "radio", name: "kinderfeest-type", value: 2}
          %label{for: 'radio-lux'}

    .col-sm-4
      .inner
        %h3 Film en Zwemfeestje
        %h4.subtitle &euro; 16,95 p.p.

        %ul.items
          %li
            %i.fa.fa-check
            Entree Zwembad
          %li
            %i.fa.fa-check
            Frietjes met saus
          %li
            %i.fa.fa-check
            Snack
            %i.fa.fa-info-circle.info-snack
          %li
            %i.fa.fa-check
            Drankje
            %i.fa.fa-info-circle.info-drink
          %li
            %i.fa.fa-check
            IJsje
          %li
            %i.fa.fa-check
            Jarige: snoepzak
          %li.special
            %i.fa.fa-check
            Bioscoopkaartje voor Euroscoop

        .checkbox
          %input#checkbox-3D{type: "checkbox"}
          %label{for: 'checkbox-3D'}
            Extra 3D bril. &euro; 1,- p.p.

        .radio.radio-center
          %input#radio-movie{type: "radio", name: "kinderfeest-type", value: 3}
          %label{for: 'radio-movie'}

  %h3 Aanvraag
  %form#form-main{'data-toggle': "validator", role: "form"}
    .form-group
      %label.control-label{for: "inputEmail"} Email
      %input.form-control#inputEmail{ type: "email",
                                      placeholder: "Email",
                                      pattern: '^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$',
                                      'data-error':"Email adres is incorrect",
                                      required: ""}
      .help-block.with-errors
    .form-group
      %label.control-label{for: "inputDate"} Datum
      %input.form-control.datepicker#inputDate{ type: "text",
                                                placeholder: "Datum",
                                                'data-error': "Vul de datum in",
                                                onfocus: "blur();",
                                                required: ""}
      .help-block.with-errors
    .form-group
      %label.control-label{for: "inputAdult"} Aantal volwassenen
      %input.form-control#inputAdult{ type: "number",
                                      placeholder: "'2'",
                                      min: "1",
                                      max: "99",
                                      'data-error': "Incorrect aantal volwassenen, het aantal moet tussen de 1 en 99 zitten.",
                                      required: ""}
      -# %select.form-control#inputAdult
        = option_generator 1, 20


      .help-block.with-errors
    .form-group
      %label.control-label{for: "inputAdult"} Aantal kinderen (tot 18 jaar)
      %input.form-control#inputAdult{ type: "number",
                                      placeholder: "'20'",
                                      min: "0",
                                      max: "99",
                                      'data-error': "Incorrect aantal kinderen, het aantal moet tussen de 0 en 99 zitten.",
                                      required: ""}
    .form-group
      %label.control-label{for: "inputExtra"} Extra opmerkingen
      %input.form-control#inputExtra{ type: "text",
                                      placeholder: "Extra opmerkingen",
                                      pattern: '^.{0,150}$',
                                      'data-error': "Maximaal 150 karakters"}
      .help-block.with-errors
    .form-group.checkbox
      %input#checkbox-camera{type: "checkbox"}
      %label{for: 'checkbox-camera'}
        Onderwatercamera voor 15 minuten. + &euro; 9,95 (neem een USB stick mee om de foto’s direct mee te nemen)

    .form-group
      %button.btn.btn-primary{type: "submit"} Verstuur aanvraag

  / The modal for confirmation
  .modal.fade#confirmSubmission
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", 'data-dismiss': "modal", 'aria-hidden': "true"} x
          %h4.modal-title Bevestiging
        .modal-body
          Wil je deze aanvraag versturen?
          .form-horizontal
            .form-group
              %label.col-xs-4 Email
              .col-xs-8
                HeyDitIsEenEmail@Gmail.com
            .form-group
              %label.col-xs-4 Omschrijving
              .col-xs-8
                Kinderfeestje met zwemmen en taart.
            .form-group
              %label.col-xs-4 Aantal personen
              .col-xs-8
                32 personen
            .form-group
              %label.col-xs-4 Totaalprijs
              .col-xs-8
                &euro;427.84
            .form-group
              %label.col-xs-4 Datum
              .col-xs-8
                29 Februari 2016
            .form-group
              %label.col-xs-4 Extra opmerkingen
              .col-xs-8
                Glutenvrij
        .modal-footer
          %button.btn.btn-primary{type: "submit", 'data-dismiss': "modal"} Verstuur aanvraag
          %button.btn.btn-default{type: "button", 'data-dismiss': "modal"} Annuleer
  %p Ben je meer van de telefoon? Je kan ook een afspraak maken door te bellen op ons telefoonnummer: 013 58 11 674.
