= provide(:title, "Kinderfeesten")

.container
  .top-header
    %h1 Kinderfeesten


%section.container

  .row.kinderfeest-select
    .col-sm-4
      .inner
        %h3 Standaard Zwemfeestje
        %h4.subtitle &euro; 9,95 p.p.

        %ul.items
          %li
            %i.fa.fa-check
            Entree Zwembad
          %li
            %i.fa.fa-check
            Frietjes met saus
          %li
            %i.fa.fa-check
            Snack
            %i.fa.fa-info-circle.info-snack
          %li
            %i.fa.fa-check
            Drankje
            %i.fa.fa-info-circle.info-drink
          %li
            %i.fa.fa-check
            IJsje
          %li
            %i.fa.fa-check
            Jarige: snoepzak

        .checkbox
          %input#checkbox-pie{type: "checkbox"}
          %label{for: 'checkbox-pie'}
            Goedkopere taart arrangement.
            %i.fa.fa-info-circle

        .radio.radio-center
          %input#radio-standard{type: "radio", name: "kinderfeest-type", value: 1}
          %label{for: 'radio-standard'}

    .col-sm-4
      .inner
        %h3 Luxe Zwemfeestje
        %h4.subtitle &euro; 12,75 p.p.

        %ul.items
          %li
            %i.fa.fa-check
            Entree Zwembad
          %li
            %i.fa.fa-check
            Frietjes met saus
          %li
            %i.fa.fa-check
            Snack
            %i.fa.fa-info-circle.info-snack
          %li
            %i.fa.fa-check
            Drankje
            %i.fa.fa-info-circle.info-drink
          %li
            %i.fa.fa-check
            IJsje
          %li
            %i.fa.fa-check
            Jarige: snoepzak
          %li.special
            %i.fa.fa-check
            Slagroomtaart met extra drankje

        .checkbox
        .radio.radio-center
          %input#radio-lux{type: "radio", name: "kinderfeest-type", value: 2}
          %label{for: 'radio-lux'}

    .col-sm-4
      .inner
        %h3 Film en Zwemfeestje
        %h4.subtitle &euro; 16,95 p.p.

        %ul.items
          %li
            %i.fa.fa-check
            Entree Zwembad
          %li
            %i.fa.fa-check
            Frietjes met saus
          %li
            %i.fa.fa-check
            Snack
            %i.fa.fa-info-circle.info-snack
          %li
            %i.fa.fa-check
            Drankje
            %i.fa.fa-info-circle.info-drink
          %li
            %i.fa.fa-check
            IJsje
          %li
            %i.fa.fa-check
            Jarige: snoepzak
          %li.special
            %i.fa.fa-check
            Bioscoopkaartje voor Euroscoop

        .checkbox
          %input#checkbox-3D{type: "checkbox"}
          %label{for: 'checkbox-3D'}
            Extra 3D bril. &euro; 1,- p.p.

        .radio.radio-center
          %input#radio-movie{type: "radio", name: "kinderfeest-type", value: 3}
          %label{for: 'radio-movie'}

  %p
    Wil je met deze prijzen een aanvraag doen voor een kinderfeestje?

  .checkbox
    %input#checkbox-camera{type: "checkbox"}
    %label{for: 'checkbox-camera'}
      Onderwatercamera voor 15 minutes. + &euro; 9,95 (neem een USB stick mee om de foto’s direct mee te nemen)

  %p
    Verstuur een aanvraag en we nemen binnen twee dagen contact met je op.
  %form.form-horizontal
    .form-group
      %label.col-xs-2.control-label Email
      .col-xs-10
        %input.form-control#inputEmail{placeholder: "Email", type: "email"}
    .form-group
      .col-xs-offset-2.col-xs-10
        %button.btn.btn-primary{type: "button", 'data-target': '#confirmSubmission', 'data-toggle': "modal"} Verstuur aanvraag

      -# Still need to check where to put this. Maybe a discount corner at the bottom of the case.
        .checkbox
          %input#checkbox-no-swim{type: "checkbox"}
          %label{for: 'checkbox-no-swim'}
            Zonder zwemmen &euro; 4,50



  / The modal for confirmation
  .modal.fade#confirmSubmission
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", 'data-dismiss': "modal", 'aria-hidden': "true"} x
          %h4.modal-title Bevestiging
        .modal-body
          Wil je deze aanvraag versturen?
          .form-horizontal
            .form-group
              %label.col-xs-4 Email
              .col-xs-8
                HeyDitIsEenEmail@Gmail.com
            .form-group
              %label.col-xs-4 Omschrijving
              .col-xs-8
                Kinderfeestje met zwemmen en taart.
            .form-group
              %label.col-xs-4 Aantal personen
              .col-xs-8
                32 personen
            .form-group
              %label.col-xs-4 Totaalprijs
              .col-xs-8
                &euro;427.84
            .form-group
              %label.col-xs-4 Datum
              .col-xs-8
                29 Februari 2016
            .form-group
              %label.col-xs-4 Extra opmerkingen
              .col-xs-8
                Glutenvrij
        .modal-footer
          %button.btn.btn-primary{type: "submit", 'data-dismiss': "modal"} Verstuur aanvraag
          %button.btn.btn-default{type: "button", 'data-dismiss': "modal"} Annuleer
  %p Ben je meer van de telefoon? Je kan ook een afspraak maken door te bellen op ons telefoonnummer: 013 58 11 674.
