section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

html {
  background-color: $broken-black;
}

body {
  font-family: 'Open Sans', 'Roboto', Helvetica Neue, Arial, sans-serif;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.top-header{
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid $broken-black;
}

.page-content {
  background-color: $broken-white;
  min-height: calc(100vh - 148px);
}

/* Special open button */
.open-button {
  display: inline-block;
  border: 2px solid $broken-white;
  padding: 10px 20px;
  color: white;
  font-weight: bold;

  &:hover {
    color: white;
    text-decoration: none;
  }

  &:visited {
    color: white;
    text-decoration: none;
  }

  &:active {
    color: white;
    text-decoration: none;
  }
}

.white-text {
  color: rgba(255, 255, 255, 0.9);
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}