section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

html {
  background-color: $broken-black;
}

body {
  font-family: 'Open Sans', 'Roboto', Helvetica Neue, Arial, sans-serif;
}

/* Make sure that the footer is at the bottom of the page. */
.page-content {
  background-color: $broken-white;
  min-height: calc(100vh - 204px);
}

.white-text {
  color: rgba(255, 255, 255, 1);
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}