/* universal */
/*$waterblue: #1D72B7; */
$grassgreen: #24B37F;
$waterblue: $grassgreen;
$broken-white: #fafafa;
$broken-black: #14191D;
$fresh-gray: rgba(255, 255, 255, 0.6);
$grid-float-breakpoint: 1200px;