/* universal */
// $grassgreen: #24B37F;
$darkwater: #1478dc;
// $waterblue: #1D72B7;
$broken-white: #f5f5f5;
$broken-black: #14191D;
$fresh-gray: rgba(255, 255, 255, 0.6);
$grid-float-breakpoint: 1200px;