/* breadcrumb */

#breadcrumb-background {
  background-color: $broken-white;
  height: 36px;
  padding: 0px;
}

.breadcrumb {
  background-color: transparent;
}

#breadcrumb-nopadding {
  padding-left: 0px;
}