/* breadcrumb */

#breadcrumb-background {
  background-color: $broken-white;
  height: 36px;
  padding: 0px;
}

.breadcrumb {
  background-color: transparent;
  li {
    color: rgba(0, 0, 0, 0.8);
    a {
      color: rgba(0, 0, 0, 0.4);
    }
  }
}

#breadcrumb-nopadding {
  padding-left: 0px;
}