
.maps {
  margin-top: 2em;
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

#blue-background {
  background-color: $waterblue;
}