/* footer */

footer {
  padding-top: 5px;
  color: #777;
  background-color: $broken-black;

  a {
    font-size: 1.3em;

    /* Special font for mobile users */
    @media all and (max-width: 767px){
      font-size: 1em;
    }
    color: #777;
    &:hover {
      color: white;
      text-decoration: none;
    }
    &:active {
      color: white;
      text-decoration: none;
    }
    &:focus {
      color: white;
      text-decoration: none;
    }
  }

  .col-xs-12 {
    margin-top: 15px;
  }

  ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0px;
    li {
      display: inline;

      a {
        /* Padding between footing elements */
        padding: 0em 3em;
        /* Special padding for mobile users */
        @media all and (max-width: 767px){
          padding: 0em 1em;
        }

        border-right: 1px solid rgba(250, 250, 250, 0.5);
      }

      /* No border for the most right element of the list */
      &:last-child {
        a {
          border-right: none;
        }
      }
    }
  }

  .copyright {
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 20px;
  }
}