/* header */

.navbar {
  margin: 0px;
  font-family: 'Roboto', 'Lato', 'Source Sans Pro', Arial, sans-serif;
  background-color: $broken-black;
  border-radius: 0px;
  text-transform: lowercase;
  .nav {
    font-size: 18px;
    .active a {
      background-color: $broken-black;
    }
  }
}

#logo {
  font-size: 1.7em;
  color: $broken-white;
  text-transform: lowercase;
  font-weight: bold;
  &:hover {
  color: $broken-white;
  text-decoration: none;
  }
}