/* Home page styling */

/* Main jumbotron styling using flex boxes */
.jumbotron {
  background-image: image-url("home-background-2.jpeg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0px;
  background-position: 50% 50%;
  display: flex;
  padding: 0px;

  // .extra-gradient {
  //   position: absolute;
  //   left: 0px;
  //   right: 0px;
  //   bottom: 0px;
  //   height: 20em;
  //   background: transparent linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2), transparent) repeat scroll 0% 0%;
  // }

  .banner-container {
    width: 100%;
    background-color: rgba(5, 5, 5, 0.5);
    height: 200px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: auto;

    .banner {
      text-align: center;
      color: white;

      h1, h2 {
        margin: 0;
        padding: 0;
        line-height: 1.8;
      }

      h1 {
        font-size: 4em;
        letter-spacing: -2px;
        text-shadow: rgba(0, 0, 0, 0.2);
      }

      h2 {
        font-size: 1.4em;
      }
    }

  }

}


/* Text and links to main part of site */
.main-contents {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $waterblue;

  h3 {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 2px solid rgba(255, 255, 255, 0.9);
    padding-bottom: 20px;
    color: rgba(255, 255, 255, 0.96);
  }

  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .open-button {
    margin-bottom: 10px;
  }
}

.extra-information {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media all and (max-width: 767px){
  .jumbotron {
    height: 300px;
    .banner-container {
      height: 120px;
      .banner h1 {
        font-size: 2.2em;
      }
      .banner h2 {
        font-size: 1em;
      }
    }
  }

  .main-contents, .extra-information {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .main-contents {
    .col-sm-4 {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}