/* Kinderfeest page styling */

.kinderfeest-select{
  .inner{
    border: 1px solid transparent;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    background-color: rgba(36,113,179,0.2);
    cursor: pointer;

    h3 {
      line-height: 1.25;
    }
    .subtitle {
      color: rgba(0, 0, 0, 0.5);
    }

    .items {
      list-style-type: none;
      background-color: white;
      margin: 15px -16px;
      padding: 10px 20px;
      line-height: 2.5;
      font-size: 16px;
      .fa-check {
        margin-right: 10px;
      }
      /*.special .fa-check {
          color: $grassgreen;
      }*/
      .popover {
        font-size: 14px;
        line-height: normal;
      }
    }
  }
}

#form-main {
  #inputAdult, #inputChildren {
    width: 50px;
    text-align: center;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
  }
  /* Padding fix */
  .datepicker {
    padding: 6px 12px;
  }
}



.modal .form-horizontal {
  margin-top: 15px;
}