/* Kinderfeest page styling */

.intro-text {
  .sm-left-border {
    @media all and (min-width: 768px){
      border-left: 1px solid $broken-black;
    }
  }
  .xs-top-bot-border {
    @media all and (max-width: 767px){
      border-top: 1px solid $broken-black;
      padding-top: 10px;
      border-bottom: 1px solid $broken-black;
      padding-bottom: 10px;
    }
  }

}

.kinderfeest-select {
  // The first header.
  h3 {
    padding-bottom: 10px;
  }

  // Everything in the description boxes
  .row {
    div:first-child .inner {
      background-color: rgba(20, 120, 220, 0.65);
    }
    
    .inner{
      border: 1px solid transparent;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 10px;
      background-color: rgba(20, 120, 220, 0.15);
      cursor: pointer;
      margin-bottom: 20px;

      h3 {
        line-height: 1.25;
      }
      .subtitle {
        color: rgba(0, 0, 0, 0.5);
      }

      .items {
        list-style-type: none;
        background-color: white;
        margin: 15px -16px;
        padding: 10px 20px;
        line-height: 2.5;
        font-size: 16px;
        .fa-check {
          margin-right: 10px;
        }
        .special .fa-check {
            color: $darkwater;
        }
        .popover {
          font-size: 14px;
          line-height: normal;
          padding-left: 10px;
        }
      }

      .radio input {
        height: 0;
        width: 0;
      }
    }
  }
}

.form-and-summary {
  background-color: white;

  // The form
  #form-main {
    #inputNrOfPersons, #inputNrOfDiscounts {
      width: 50px;
      text-align: center;
    }
    /* Padding fix */
    .datepicker {
      padding: 6px 12px;
    }
  }

  // The summary
  .summary-view {
    @media all and (max-width: 767px) {
      border-top: 1px solid rgba(21, 25, 29, 0.15);
    }

    table {
      width: 100%;
      font-size: 16px;

      tr:last-child {
        font-weight: bold;
      }

      tr:first-child th:first-child {
        width: 50%
      }

      // Border for total
      tr:nth-last-child(2) {
        border-bottom: 1px solid $broken-black;
      }

      // Align last element to the right
      td:last-child, th:last-child {
        text-align: right;
      }
      th, td {
        padding: 4px 1px;
      }
    }

    .small-note {
      color: rgba(0, 0, 0, 0.5);
      padding-top: 6px;
    }
  }

  // The final button
  .final-button {
    text-align: center;
    padding: 20px 0px;
    button {
      width: calc(100% - 30px);
    }
  }
}


.modal table {
  margin-top: 15px;
  tr:first-child {
    width: 35%;
  }
  td {
    padding: 4px;
  }
}