Beste klant,
="\r\n"

Jouw aanvraag wordt in behandeling genomen. Dit zijn de details van de aanvraag.
="\r\n"

="Transactie ID: " + @transactionId
="Boeking: " + @transactionType
='Prijs: € %.2f' % @transactionPrice 
="Datum: " + @transactionDate
="Voorkeur etenstijd: " + @transactionTime
="Aantal volwassenen: " + @nrOfAdults
="Aantal kinderen: " + @nrOfChildren
="Extra opmerkingen: " + @extraComments
="\r\n"

Binnenkort nemen we contact met je op om de aanvraag te bevestigen.
="\r\n"

Vragen? Dan kan je ons gerust deze mail beantwoorden of bellen via 013 58 11 674.
="\r\n"
="\r\n"

Met vriendelijke groet,
="\r\n"

Team Horeca Recreatiebad Stappegoor