Kinderfeest aanvraag
="\r\n"

="Aanvrager: " + @customer_email
="Transactie ID: " + @transactionId
="Boeking: " + @transactionType
='Prijs: € %.2f' % @transactionPrice 
="Datum: " + @transactionDate
="Voorkeur etenstijd: " + @transactionTime
="Aantal volwassenen: " + @nrOfAdults
="Aantal kinderen: " + @nrOfChildren
="Extra opmerkingen: " + @extraComments