Kinderfeest aanvraag
="\r\n"

="Transactie ID: " + @transactionId
="Aanvrager: " + @customer_email
="Naam: " + @name
="Naam jarige: " + @birthdayBoyName
="Boeking: " + @transactionType
='Prijs: € %.2f' % @transactionPrice 
="Telefoonnummer: " + @phoneNr
="Aantal personen: " + @nrOfPersons
="Aantal personen met korting: " + @nrOfDiscounts
="Datum: " + @transactionDate
="Aankomsttijd: " + @arrivalTime
="Voorkeur etenstijd: " + @transactionTime
="Extra opmerkingen: " + @extraComments