%h3 Kinderfeest aanvraag

%table
  %tr
    %td{style: "width: 150px;"}
      Aanvrager
    %td
      =@customer_email
  %tr
    %td
      Transactie ID
    %td
      =@transactionId
  %tr
    %td
      Boeking
    %td
      =@transactionType

  %tr
    %td
      Prijs
    %td
      ='€ %.2f' % @transactionPrice 

  %tr
    %td
      Datum
    %td
      =@transactionDate

  %tr
    %td
      Voorkeur etenstijd
    %td
      =@transactionTime

  %tr
    %td
      Aantal personen
    %td
      =@nrOfPersons

  %tr
    %td
      Aantal personen met korting
    %td
      =@nrOfDiscounts

  %tr
    %td
      Extra opmerkingen
    %td
      =@extraComments