%h3 Kinderfeest aanvraag

%table
  %tr
    %td{style: "width: 150px;"}Transactie ID
    %td
      =@transactionId

  %tr
    %td Aanvrager
    %td
      =@customer_email

  %tr
    %td Naam
    %td
      =@name

  %tr
    %td Naam jarige
    %td
      =@birthdayBoyName

  %tr
    %td Boeking
    %td
      =@transactionType

  %tr
    %td Prijs
    %td
      ='€ %.2f' % @transactionPrice 

  %tr
    %td Telefoonnummer
    %td
      =@phoneNr

  %tr
    %td Aantal personen
    %td
      =@nrOfPersons

  %tr
    %td Aantal personen met korting
    %td
      =@nrOfDiscounts

  %tr
    %td Datum
    %td
      =@transactionDate

  %tr
    %td Aankomsttijd
    %td
      =@arrivalTime

  %tr
    %td Voorkeur etenstijd
    %td
      =@transactionTime

  %tr
    %td Extra opmerkingen
    %td
      =@extraComments