%h3
  Beste klant,
%p
  Jouw aanvraag wordt in bewerking genomen. Dit zijn de details van de aanvraag.
%p 
  Tabel van de aanvraag van
  =@name

%p 
  Mocht je verder nog vragen hebben over bijvoorbeeld de aanvraag, dan kan je gerust deze mail beantwoorden.
  Ook kan je met ons contact opnemen via 06 12 34 56 78
<br></br>
%p
  Met vriendelijke groet,

%p
  Team Horeca Recreatiebad Stappegoor