@import "bootstrap-sprockets";
@import "bootstrap";

$small-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.top-header{
  margin-top: 10px;
}

/* Home page styling */

.jumbotron {
  background-image: image-url("home-background-2.jpeg");
  height: 40em;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;

  .container {
    position: relative;
    top: 10em;
    color: white;
  }

  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    text-align: center;
    text-shadow: $small-shadow;
  }

  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    text-align: center;
    font-weight: normal;
    color: #ededed;
    margin-bottom: 10px;
    text-shadow: $small-shadow;
  }

}
.main-contents {
  padding: 20px 0px;;
  background-color: #f2f2f2;
  border-bottom: 1px solid #dbdbdb;
  font-family: 'Open Sans', sans-serif;
  h3 {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.extra-information {
  padding: 20px 0px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.navbar {
  margin: 0px;
  font-family: 'Lato', 'Roboto', 'Source Sans Pro', 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: black;
  border-radius: 0px;
  text-transform: lowercase;
  .nav {
    font-size: 18px;
    .active a {
      background-color: black;
    }
  }
}

#logo {
  font-size: 1.7em;
  color: white;
  text-transform: lowercase;
  font-weight: bold;
  &:hover {
  color: white;
  text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  background-color: black;
  font-family: 'Lato', 'Roboto', 'Source Sans Pro', 'Open Sans', Helvetica, Arial, sans-serif;
  a {
    font-size: 1.1em;
    color: #777;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  .row {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    text-align: right;
    li {
      display: inline;
      padding: 0px 15px;
      &:last-child {
        border-right: none;
      }
    }
  }
}