%footer.footer
  .container
    .row
      .col-xs-12
        %nav
          %ul
            %li= link_to "Over ons",      '#'
            %li= link_to "Disclaimer",    '#'
            %li= link_to "Contact",       contact_url
      .col-xs-12
        .copyright
          Copyright &copy; 2016 La Piscine