%footer.footer
  .container
    .row
      .col-md-6
        Copyright &copy; 2015-2016 La Piscine
      .col-md-6
        %nav
          %ul
            %li= link_to "Over Ons",      '#'
            %li= link_to "Disclaimer",    '#'
            %li= link_to "Contact",       contact_url